// Breadcrumbs
.breadcrumb {
    list-style: none;
    margin: $unit-1 0;
    padding: $unit-1 0;
  
    .breadcrumb-item {
      color: gray;
      display: inline-block;
      margin: 0;
      padding: $unit-1 0;
  
      &:not(:last-child) {
        margin-right: $unit-1;
  
        a {
          color: gray;
        }
      }

      &:not(:first-child) {
        &::before {
          color: gray;
          content: "/";
          padding-right: $unit-2;
        }
      }
    }
  }